
.Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4ch;
  min-width: 300px;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 2ch;

  max-width: 80ch;
  min-width: 0;
}
